* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  padding: 10px;
}

.App > h1 {
  text-align: center;
  text-decoration: underline;
}

/* Main Container  Css*/

.search_box {
  margin: 35px;
  text-align: center;
}

.search_box input {
  width: 200px;
  padding: 5px 0;
  border-right: none;
  border: 1px solid grey;
}

.search_box p {
  margin: 20px;
}

.btn {
  background: #4285f4;
  border: none;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn:hover {
  border: 1px solid #4285f4;
  background: white;
  color: #4285f4;
  cursor: pointer;
}

/* Weather_card Css */
.weather_card {
  display: flex;
  margin: auto;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 4px 3px 5px grey;
  background-color: #05052c;
  color: white;
  padding: 10px;
}

.weather_card > img {
  width: 100px;
  height: 100px;
}

.weather_details {
  width: 100%;
}

.weather_details > p {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .weather_card {
    display: flex;
  }
}

/* Loading Css */
.loading-top {
  border-radius: 50%;
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  animation: rotateLoading 0.4s linear infinite;
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error Page Css */

.errorpage {
  border: 2px solid grey;
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

/* Toggle Btn  (Dark/light)*/
.toggle_btn {
  float: right;
  border: 1px solid grey;
  padding: 3px 5px;
  width: 60px;
  height: 30px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 30px;
  background: grey;
  cursor: pointer;
}

.toggle_btn span {
  border: 1px solid grey;
  border-radius: 50%;
  width: 25px;
  height: 100%;
  display: block;
  position: relative;
  transition: all 0.5s ease-in-out;
  background: white;
}
